body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2078px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2078px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2078px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:2074px;
  word-wrap:break-word;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:66px;
  width:230px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0066FF;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:113px;
  width:165px;
  height:49px;
  font-size:16px;
  color:#0066FF;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:161px;
  word-wrap:break-word;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:203px;
  width:100px;
  height:37px;
  font-size:14px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:162px;
  width:0px;
  height:0px;
}
#u122_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u122_seg1 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:24px;
  width:124px;
  height:8px;
}
#u122_seg2 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:24px;
  width:8px;
  height:17px;
}
#u122_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u122_seg4 {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:26px;
  width:20px;
  height:20px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:203px;
  width:100px;
  height:37px;
  font-size:14px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:162px;
  width:0px;
  height:0px;
}
#u124_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u124_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:24px;
  width:117px;
  height:8px;
}
#u124_seg2 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:24px;
  width:8px;
  height:17px;
}
#u124_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u124_seg4 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:26px;
  width:20px;
  height:20px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:240px;
  width:0px;
  height:0px;
}
#u125_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:203px;
}
#u125_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u125_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:184px;
  width:20px;
  height:20px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:92px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:262px;
  width:88px;
  height:30px;
  text-align:left;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:292px;
  width:88px;
  height:30px;
  text-align:left;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:322px;
  width:88px;
  height:30px;
  text-align:left;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:352px;
  width:88px;
  height:30px;
  text-align:left;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:382px;
  width:116px;
  height:30px;
  text-align:left;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:240px;
  width:0px;
  height:0px;
}
#u131_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u131_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:33px;
  width:37px;
  height:8px;
}
#u131_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u131_seg3 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:27px;
  width:20px;
  height:20px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:240px;
  width:0px;
  height:0px;
}
#u132_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u132_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:63px;
  width:37px;
  height:8px;
}
#u132_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u132_seg3 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:57px;
  width:20px;
  height:20px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:240px;
  width:0px;
  height:0px;
}
#u133_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u133_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:93px;
  width:37px;
  height:8px;
}
#u133_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u133_seg3 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:87px;
  width:20px;
  height:20px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:240px;
  width:0px;
  height:0px;
}
#u134_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:131px;
}
#u134_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:123px;
  width:37px;
  height:8px;
}
#u134_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u134_seg3 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:117px;
  width:20px;
  height:20px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:240px;
  width:0px;
  height:0px;
}
#u135_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:161px;
}
#u135_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:153px;
  width:37px;
  height:8px;
}
#u135_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u135_seg3 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:147px;
  width:20px;
  height:20px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:87px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:240px;
  width:0px;
  height:0px;
}
#u136_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:205px;
}
#u136_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u136_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:186px;
  width:20px;
  height:20px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:92px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:262px;
  width:88px;
  height:30px;
  text-align:left;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:292px;
  width:88px;
  height:30px;
  text-align:left;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:322px;
  width:88px;
  height:30px;
  text-align:left;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:352px;
  width:88px;
  height:30px;
  text-align:left;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:382px;
  width:116px;
  height:30px;
  text-align:left;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:240px;
  width:0px;
  height:0px;
}
#u142_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u142_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:33px;
  width:41px;
  height:8px;
}
#u142_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u142_seg3 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:27px;
  width:20px;
  height:20px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:240px;
  width:0px;
  height:0px;
}
#u143_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u143_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:63px;
  width:41px;
  height:8px;
}
#u143_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u143_seg3 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:57px;
  width:20px;
  height:20px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:240px;
  width:0px;
  height:0px;
}
#u144_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u144_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:93px;
  width:41px;
  height:8px;
}
#u144_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u144_seg3 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:87px;
  width:20px;
  height:20px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:240px;
  width:0px;
  height:0px;
}
#u145_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:131px;
}
#u145_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:123px;
  width:41px;
  height:8px;
}
#u145_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u145_seg3 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:117px;
  width:20px;
  height:20px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:240px;
  width:0px;
  height:0px;
}
#u146_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:161px;
}
#u146_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:153px;
  width:41px;
  height:8px;
}
#u146_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u146_seg3 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:147px;
  width:20px;
  height:20px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:89px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0066FF;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:113px;
  width:165px;
  height:49px;
  font-size:16px;
  color:#0066FF;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:161px;
  word-wrap:break-word;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:203px;
  width:100px;
  height:37px;
  font-size:14px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:162px;
  width:0px;
  height:0px;
}
#u149_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u149_seg1 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:24px;
  width:124px;
  height:8px;
}
#u149_seg2 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:24px;
  width:8px;
  height:17px;
}
#u149_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u149_seg4 {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:26px;
  width:20px;
  height:20px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:203px;
  width:100px;
  height:37px;
  font-size:14px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:162px;
  width:0px;
  height:0px;
}
#u151_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u151_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:24px;
  width:117px;
  height:8px;
}
#u151_seg2 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:24px;
  width:8px;
  height:17px;
}
#u151_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u151_seg4 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:26px;
  width:20px;
  height:20px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:240px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:203px;
}
#u152_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u152_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:184px;
  width:20px;
  height:20px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:92px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:262px;
  width:88px;
  height:30px;
  text-align:left;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:292px;
  width:88px;
  height:30px;
  text-align:left;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:322px;
  width:88px;
  height:30px;
  text-align:left;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:352px;
  width:135px;
  height:30px;
  text-align:left;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:382px;
  width:116px;
  height:30px;
  text-align:left;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:240px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u158_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:33px;
  width:37px;
  height:8px;
}
#u158_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u158_seg3 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:27px;
  width:20px;
  height:20px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:240px;
  width:0px;
  height:0px;
}
#u159_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u159_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:63px;
  width:37px;
  height:8px;
}
#u159_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u159_seg3 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:57px;
  width:20px;
  height:20px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:240px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u160_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:93px;
  width:37px;
  height:8px;
}
#u160_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u160_seg3 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:87px;
  width:20px;
  height:20px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:240px;
  width:0px;
  height:0px;
}
#u161_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:131px;
}
#u161_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:123px;
  width:37px;
  height:8px;
}
#u161_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u161_seg3 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:117px;
  width:20px;
  height:20px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:240px;
  width:0px;
  height:0px;
}
#u162_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:161px;
}
#u162_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:153px;
  width:37px;
  height:8px;
}
#u162_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u162_seg3 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:147px;
  width:20px;
  height:20px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:87px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:240px;
  width:0px;
  height:0px;
}
#u163_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:205px;
}
#u163_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u163_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:186px;
  width:20px;
  height:20px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:92px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:262px;
  width:88px;
  height:30px;
  text-align:left;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:292px;
  width:88px;
  height:30px;
  text-align:left;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:322px;
  width:88px;
  height:30px;
  text-align:left;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:352px;
  width:136px;
  height:30px;
  text-align:left;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:382px;
  width:116px;
  height:30px;
  text-align:left;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:240px;
  width:0px;
  height:0px;
}
#u169_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u169_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:33px;
  width:41px;
  height:8px;
}
#u169_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u169_seg3 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:27px;
  width:20px;
  height:20px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:240px;
  width:0px;
  height:0px;
}
#u170_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u170_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:63px;
  width:41px;
  height:8px;
}
#u170_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u170_seg3 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:57px;
  width:20px;
  height:20px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:240px;
  width:0px;
  height:0px;
}
#u171_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u171_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:93px;
  width:41px;
  height:8px;
}
#u171_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u171_seg3 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:87px;
  width:20px;
  height:20px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:240px;
  width:0px;
  height:0px;
}
#u172_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:131px;
}
#u172_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:123px;
  width:41px;
  height:8px;
}
#u172_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u172_seg3 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:117px;
  width:20px;
  height:20px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:240px;
  width:0px;
  height:0px;
}
#u173_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:161px;
}
#u173_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:153px;
  width:41px;
  height:8px;
}
#u173_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u173_seg3 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:147px;
  width:20px;
  height:20px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:89px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
