body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:948px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:678px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-47px;
  width:1064px;
  height:678px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
