body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:942px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1941 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:34px;
  width:430px;
  height:880px;
}
#u1941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:672px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:138px;
  width:380px;
  height:672px;
}
#u1942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:65px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#FFFFFF;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:138px;
  width:380px;
  height:65px;
  font-size:26px;
  color:#FFFFFF;
}
#u1943_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:376px;
  word-wrap:break-word;
}
#u1944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1944 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:648px;
  width:378px;
  height:82px;
}
#u1944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:155px;
  width:19px;
  height:32px;
}
#u1945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:203px;
  width:380px;
  height:607px;
  overflow:hidden;
}
#u1946_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:607px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1946_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:1200px;
  overflow:hidden;
  touch-action:none;
}
#u1947_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:1200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1947_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u1949 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:19px;
  width:355px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u1949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
.u1950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 宋体 Std L', 'Adobe 宋体 Std';
  font-weight:300;
  font-style:normal;
  font-size:22px;
  line-height:28px;
}
.u1950 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:66px;
  width:357px;
  height:140px;
  font-family:'Adobe 宋体 Std L', 'Adobe 宋体 Std';
  font-weight:300;
  font-style:normal;
  font-size:22px;
  line-height:28px;
}
.u1950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
.u1951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:177px;
}
.u1951 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:221px;
  width:338px;
  height:177px;
}
.u1951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 宋体 Std L', 'Adobe 宋体 Std';
  font-weight:300;
  font-style:normal;
  font-size:22px;
  line-height:28px;
}
.u1952 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:419px;
  width:357px;
  height:196px;
  font-family:'Adobe 宋体 Std L', 'Adobe 宋体 Std';
  font-weight:300;
  font-style:normal;
  font-size:22px;
  line-height:28px;
}
.u1952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
.u1953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:623px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 宋体 Std L', 'Adobe 宋体 Std';
  font-weight:300;
  font-style:normal;
  font-size:22px;
  line-height:28px;
}
.u1953 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:617px;
  width:357px;
  height:623px;
  font-family:'Adobe 宋体 Std L', 'Adobe 宋体 Std';
  font-weight:300;
  font-style:normal;
  font-size:22px;
  line-height:28px;
}
.u1953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
.u1954_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:383px;
  height:9px;
}
.u1954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1076px;
  width:378px;
  height:4px;
  opacity:0.2;
}
.u1954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#990000;
}
.u1955 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1123px;
  width:33px;
  height:19px;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#990000;
}
.u1955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
.u1956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
.u1956 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:1101px;
  width:27px;
  height:23px;
  opacity:0.8;
}
.u1956_img.selected {
}
.u1956.selected {
}
.u1956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#990000;
}
.u1957 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:1123px;
  width:33px;
  height:19px;
  opacity:0.7;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#990000;
}
.u1957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
.u1958 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1099px;
  width:43px;
  height:25px;
}
.u1958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
.u1959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
.u1959 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1096px;
  width:28px;
  height:27px;
}
.u1959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:1240px;
}
#u1948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:1240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:280px;
  width:429px;
  height:152px;
}
#u1960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:295px;
  width:397px;
  height:130px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u1961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  word-wrap:break-word;
}
#u1962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:616px;
  width:125px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u1963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:96px;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:520px;
  width:74px;
  height:96px;
}
#u1963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
